.performanceGraphContainer{
    background-color: #1f1f1f;
    border-radius: 5px;
    width: 32%;
}

.recharts-polar-angle-axis-tick:nth-child(1) {
    transform: translateY(-0.5vw);
}
.recharts-polar-angle-axis-tick:nth-child(4) {
    transform: translateY(0.5vw);
}
.recharts-polar-angle-axis-tick:nth-child(2),
.recharts-polar-angle-axis-tick:nth-child(3){
    transform: translateX(0.5vw);
}
.recharts-polar-angle-axis-tick:nth-child(5), 
.recharts-polar-angle-axis-tick:nth-child(6){
    transform: translateX(-0.5vw);
}