.dashBoardContainer{
    padding: 0 20px 0 90px;
}

.welcome{
    display: flex;
    height: 40px;
}

.firstName{
    color: red;
}

.activityGraph{
    background-color: #FBFBFB;
    // padding-top: 80px;
    .activityGraph_titleContainer{
        display: flex;
        justify-content: space-between;
        .activityGraphLegend{
            display: flex;
            .activityGraph_mesure{
                display: flex;
                margin: 0 20px 0 20px;
                .mesureDot{
                    width: 5px;
                    margin-right: 5px;
                }
            }
        }
    }
    .activityGraph_title{
        margin-left: 20px
    }
}

.graphsMainContainer{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.dataContainer{
    display: flex;
}

.keyDataContainer{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sessionsPerfsScoreContainer{
    margin-top : 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    min-width: 500px;
}

.sessionGraph{
    display: flex;
    width: 32%;
    background-color: #FF0000;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    .sessionGraph_title{
        // position: relative;
        color: white;
        height: 10px;
        margin-left: 13px;
        margin-right: 13px;
        margin-bottom: 30px;
        font-size: 0.8em;
    }
    .sessionGraphRecharts{
        position: relative;
        top: 30px;
    }
}
.performanceGraph{
    background-color: #1f1f1f;
    // padding-top: 20px;
    border-radius: 5px;
    width: 32%;
}
.scoreGraph{
    width: 32%;
    background-color: #FBFBFB;
    // padding-top: 20px;
    border-radius: 5px;
}