.dashBoardContainer{
    padding: 0 20px 0 110px;
    // margin-bottom: 20px;
    // height: 70%;
    display: flex;
    flex-direction: column;
}

.welcome{
    display: flex;
    height: 40px;
}

.firstName{
    color: #FF0101;
}

.activityGraph{
    background-color: #FBFBFB;
    .activityGraph_titleContainer{
        display: flex;
        justify-content: space-between;
        .activityGraphLegend{
            display: flex;
            .activityGraph_mesure{
                display: flex;
                margin: 0 20px 0 20px;
                .mesureDot{
                    width: 5px;
                    margin-right: 5px;
                }
            }
        }
    }
    .activityGraph_title{
        margin-left: 20px
    }
    .user-number{
        color: white;
        font-size: 12px;
        padding: 8px;
    }
    .custom-tooltip-activity{
        background-color: red;
        height: 100%;
    }
}

.graphsMainContainer{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.dataContainer{
    display: flex;
}

.keyDataContainer{
    padding-bottom: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sessionsPerfsScoreContainer{
    margin-top : 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    // min-width: 500px;
}

.sessionGraph{
    display: flex;
    width: 32%;
    background-color: #FF0000;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    .sessionGraph_title{
        // position: relative;
        color: rgba(255, 255, 255, 0.5);
        height: 10px;
        margin-left: 13px;
        margin-right: 13px;
        margin-bottom: 30px;
        font-size: 0.8em;
    }
    .sessionGraphRecharts{
        position: relative;
        // top: 30px;
    }
    .custom-tooltip-sessions{
        background-color: white;
        padding: 5px 10px 5px 10px;
        font-size: 12px;
    }
}
.performanceGraphContainer{
    background-color: #1f1f1f;
    padding-top: 1%;
    border-radius: 5px;
    width: 32%;
    .perfGraph{
        // position: relative;
        // top: 2%;
    }
}
.scoreGraph{
    width: 32%;
    background-color: #FBFBFB;
    padding-top: 1%;
    border-radius: 5px;
}
.scoreGraph_scoreCenter{
    height: 0px;
    width: 30%;
    line-height: 12px;
    position: relative;
    font-size: 10px;
    top: 45%;
    left: 40%;
}