.headerContainer{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 65px;
    z-index: 10;
    width:100%;
}

.logo{
    width: 120px;
    position: absolute;
    left: 12px;
    bottom: 10px;
}

.linksContainer{
    margin-left: 240px;
    margin-right: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.headerLink{
    color: white;
    font-size: 16px;
    text-decoration: none;
}